<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="ie=edge"/>

<meta name="author" content="laurkan"/>
<meta name="description" content="Responsive, Highly Customizable Dashboard Template">


<!-- Font -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&amp;display=swap"
      rel="stylesheet">


<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/css/colors.css}" rel="stylesheet"/>

<!-- Base -->
<link th:href="@{/css/typography.css}" rel="stylesheet"/>
<link th:href="@{/css/base.css}" rel="stylesheet"/>

<!-- Theme -->
<link th:href="@{/css/colors-dark.css}" rel="stylesheet"/>
<link th:href="@{/css/theme-dark.css}" rel="stylesheet"/>
<link th:href="@{/css/custom-rtl.css}" rel="stylesheet"/>

<!-- Layouts -->
<link th:href="@{/css/sider.css}" rel="stylesheet"/>
<link th:href="@{/css/header.css}" rel="stylesheet"/>
<link th:href="@{/css/page-content.css}" rel="stylesheet"/>
<link th:href="@{/css/components.css}" rel="stylesheet"/>

<!-- Pages -->
<link th:href="@{/css/page-knowledge-base.css}" rel="stylesheet"/>

<!-- Custom -->
<link th:href="@{/css/style.css}" rel="stylesheet"/>

<!-- icons -->
<link th:href="@{/css/iconly/index.min.css}" rel="stylesheet"/>
<link th:href="@{/css/remix-icon/index.min.css}" rel="stylesheet"/>